@charset "utf-8";
/* CSS Document */

.book-body{
	width:1000px;
	padding-right:15px;
}
.my-book1{
	box-shadow:#999 0 0 3px;
	background-color:rgba(252,249,194,.5);
	height:140px;
	width:180px;
	margin-left:19px;
	margin-top:20px;
	float:left;
}
.next-page{
	height:40px;
	margin-top:15px;
	margin-bottom:10px;
}
