.registeration-form{
	padding-top:100px;
	padding-left:100px;
	height:600px;
	width:800px;
	text-align:left;
	color:#00FF66;
	font-size:18px;
	border-radius:30px;
	background-color:rgba(0,0,0,.6);
}
table{
	color:#FFFFFF;
	font-size:20px;
}
input{
	height:26px;
	border:0px;
}
select{
	height:25px;
	width:100px;
}
#submit{
	margin-left:10px;
	height:25px;
	width:100px;
	color:#FFFFFF;
	background-color:#009900;
}