@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	min-width:1100px;
	width:1100px;
	margin:auto;
	background-color:rgba(204,204,204,.4);
	
}
.left a{
	text-decoration:none;
	color:#000;
}
.header{
	height:100px;
	background-color:#13BB95;
	min-width:1100px; 
}
.logo{
	float:left;
	margin-left:70px;
	margin-top:15px;
}
.head-right{
	float:right;
	margin-right:40px;
	margin-top:30px;
	height:30px;
}
.my-bdy{
	height:800px;
	background-color:#FFFFFF;
}

.left{
	float:left;
	padding-top:20px;
	background-color:#13BB95;
	padding-right:10px;
	border-bottom-right-radius:10px;
}
.dir{
	border:1px solid #13BB95;
	background-color:#13BB95;
	padding-bottom:10px;
	border-bottom-right-radius:10px;
}
.dir-head{
	background-color:#13BB95;
	color:#FFF;
	font-size:30px;
	margin-bottom:20px;
}
.center{
	float:left;
	height:400px;
	width:500px;
}
.center-div{
	width:485px;
	height:695px;
	z-index:99;
	border:1px solid #13BB95;
	bottom:85px;
	margin-left:15px;
	border-top-left-radius:100px;
	position:relative;
}
.center-div-head{
	background-color:#13BB95;
	color:#FFF;
	font-size:30px;
	height:85px;
	border-top-left-radius:100px;
	line-height:85px;
	padding-left:40px;
	
}
.center-div-bottom{
	border-top:1px solid #13BB95;
	font-size:16px;
	height:100px;
	overflow:hidden;
	text-align:justify;
	padding:5px;
	font-style:italic;
	
}
.cent-corner{
	height:100px;
	background-image:radial-gradient(circle at 100% 100%, #FFF 100px, #13BB95 100px);
	width:100px;
}
.right{
	float:right;
}
.div-btn{
	height:40px;
	margin-top:10px;
	padding-right:5px;
	padding-left:5px;
	background-color:#13BB95;
	border:1px solid #333;
	line-height:40px;
	font-size:20px;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
	font-family:Tahoma, Geneva, sans-serif;
	box-shadow:#000 2px 2px 2px;
	border-radius:10px;
	text-decoration:none;
}
.div-btn:hover{
	background-color:#CCC;
	box-shadow:#000 0px 0px 0px;
	color:#13BB95;
}
.footer{
	background-color:#FFFFFF;
	width:1100px;
	padding-bottom:5px;
}
.footer-left{
	float:left;
	margin-top:10px;
	padding-left:20px;
}
.footer-right{
	float:right;
	margin-top:10px;
	padding-right:50px;
	text-align:right;
}